<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
SIGNIN PAGE
<form id="form-1">
	<label for="input-1">FirstName:</label>
	<input id="input-1" name="firstname" placeholder="Enter FirstName" type="text"/><br>
	<label for="input-2">LastName</label>
	<input id="input-2" placeholder="Enter LastName" type="text"/><br>
	<label for="input-3">Phone number</label>
	<input id="input-3" name="phonenumber" placeholder="Text" type="text"/><br>
	<label for="input-4">Password</label>
	<input id="input-4" name="password" placeholder="password" type="password"/><br>
	<input type="submit" value="Submit" id="button-1"/>
	
</form>
</body>
</html>
